<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>新用户注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist%20/css/bootstrap.css">
    <style>
        .btn-block:hover {
            background-color: #337ab7;
            color: white;
        }
        .form-group span {
            color: firebrick;
        }

        #sign-box {
            margin-top: -2px; padding: 40px 30px 20px 30px; border: 1px solid #ddd; border-top: 0; border-radius: 4px;
        }

        #inputAvatar {
            position: absolute;
            top: 0;
            opacity: 0;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-7">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/sign/sign-in.html/"> 登  录 </a></li>
                <li role="presentation" class="active"><a href="#"> 注  册 </a></li>
            </ul>
            <form id="sign-box" class="form-horizontal" action="/sign/sign-up.html?md=post" method="POST" novalidate style="line-height: 34px">

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-5">
                        <img src="/static/imgs/default.jpeg" class="img-responsive img-rounded" id="showAvatar" style="width: 100px; height: 100px; border: solid 1px #dbdbdb">
                    </div>

                    <div class="col-sm-offset-4 col-sm-5">
                        {% csrf_token %}
                        <button type="button" class="btn btn-default" style="width: 100px; margin-top: 5px">上传头像</button>
                        {{ obj.avatar }}<span style="display: block">{{ obj.errors.avatar.0 }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        {{ obj.username }}<span>{{ obj.errors.username.0 }}</span>
                    </div>
                    (必填)
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        {{ obj.telephone }}<span>{{ obj.errors.telephone.0 }}</span>
                    </div>
                    (必填)
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        {{ obj.nickname }}<span>{{ obj.errors.nickname.0 }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <label for="inputGender_1" style="vertical-align: middle">男</label>
                        <input type="radio" name="gender" id="inputGender_1" value="1">
                        <label for="inputGender_2"  style="margin-left: 15px; vertical-align: middle">女</label>
                        <input type="radio" name="gender" id="inputGender_2" value="2">
                        <span style="display: block">{{ obj.errors.gender.0 }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        {{ obj.email }}<span>{{ obj.errors.email.0 }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        {{ obj.password }}<span>{{ obj.errors.password.0 }}</span>
                    </div>
                    (必填)
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="请再次输入密码">
                        <span></span>
                    </div>
                    (必填)
                </div>

                <div class="form-group">
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="robot-code" placeholder="请输入验证码" name="code">
                        <span>{{ obj.non_field_errors.0 }}</span>
                    </div>
                    (必填)
                    <div class="col-sm-5">
                        <img id='code-img' src="/sign/code/" style="width: 120px; height: 30px">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input id='reg-btn' type="submit" class="btn btn-block" style="" value="注 册">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/jquery-3.2.1.js"></script>
<script src="/static/signcheck-0.1.js"></script>
<script>

    $('#code-img').click(function () {
        $(this).prop('src', this.src + '?');
    });

    $('#inputAvatar').change(
        function () {
{#            $("#input-avatar");#}
            var formData = new FormData();
            formData.append('fafafa', $('#inputAvatar')[0].files[0]);  // jQuery 转换
            formData.append('csrfmiddlewaretoken', "{{ csrf_token }}");  // jQuery 转换
            $.ajax({
                url: '/sign/upload/',
                type: 'POST',
                data: formData,
                contentType: false,		// 告知jQuery不用处理数据(设置请求头)
                processData: false,		// 告知jQuery不用处理数据(设置请求头)
                success: function(arg){
                {#                    var timestamp = new Date().getTime();#}
                $("#showAvatar").prop("src", "/" + arg);
                    alert(arg);

{#                    $(this).prop("src", $(this).prop("src") + '?'+ timestamp);#}
                }
            })
        }
    );



    $.loginCheck();

</script>
</body>
</html>