<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist%20/css/bootstrap.css">
    <style>
        .btn-block:hover {
            background-color: #337ab7;
            color: white;
        }
        .err-msg {
            color: firebrick;
        }

        #sign-box {
            margin-top: -2px; padding: 40px 30px 20px 30px; border: 1px solid #ddd; border-top: 0; border-radius: 4px;
        }

        #forget {
            float: right;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-7">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#"> 登  录 </a></li>
                <li role="presentation"><a href="/sign/sign-up.html"> 注  册 </a></li>
            </ul>
            <form id="sign-box" class="form-horizontal" action="/sign/sign-in.html?md=post" method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        {% if obj.errors.username %}
                            {{ obj.username }}
                        {% elif obj.errors.email %}
                            {{ obj.email }}
                        {% elif obj.errors.telephone %}
                            {{ obj.telephone }}
                        {% else %}
                            {{ obj.username }}
                        {% endif %}
                        <span class="err-msg">
                            {{ obj.errors.username.0 }}
                            {{ obj.errors.email.0 }}
                            {{ obj.errors.telephone.0 }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        {{ obj.password }}
                        <span class="err-msg">
                            {{ obj.errors.password.0 }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <a id="forget" href="#">忘记密码?</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button id='sign-btn' type="submit" class="btn btn-block" style="">登 录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/jquery-3.2.1.js"></script>
<script src="/static/signcheck-0.1.js"></script>
<script>
    $.loginCheck();
    $('#inputAccount').change(
        function () {
            var v = $(this).val();
            if (v.indexOf('@') >= 1){
                $(this).prop('type', 'email');
                $(this).prop('name', 'email');
            }
            else if(!isNaN(v) && v.indexOf('1') == 0 && v.length == 11){
                $(this).prop('type', 'text');
                $(this).prop('name', 'telephone');
            }
            else {
                $(this).prop('type', 'text');
                $(this).prop('name', 'username');
            }
        }
    )
</script>
</body>
</html>