{% extends 'index-layout.html' %}

{% block css %}
    <style>
        .point-active {
            background-color: white;
        }

        .ad-pic-box {
            width: 81.429em;
            height: 21.429em;
        }

        #ad-switcher{
            position: relative;
        }

        .ad-pic-box ul {
            list-style: none;
        }

        .ad-pic-box img {
            position: absolute;
        }

        .row {
            margin-bottom: 3em;
            margin-top: 1.8em;
        }

        .col-sm-3 {
            margin-bottom: 3.8%;
        }

        #ad-points {
            bottom: 1.25%;
            left: 38em;
            z-index: 100;
            position: absolute;
            padding: 2px 0.5% ;
            cursor: default
        }

        .switch-point {
            width: 13px;
            height: 13px;
            margin-left:2px;
            border-radius: 13px;
            border: 2px white solid;
            display: inline-block;
            vertical-align: middle
        }

        .switch-btn {
            width: 2.5%;
            height: 20%;
            top: 40%;
            background-color:  hsla(0,0%,0%,.3);
            z-index: 100;
            position: absolute;
            color: white;
            font: 20px/2.8 bolder;
            text-align: center;
        }

        #ad-perv {
            left: 0.84em;
        }

        #ad-next {
            right: 0.83em;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="ad-switcher">
            <div id="switch-btn-group" hidden>
                <a id="ad-perv" class="switch-btn" href="#"> < </a>
                <a id="ad-next" class="switch-btn" href="#"> > </a>
                <ul id="ad-points">
                    {% for a in ads %}
                        <li id="si{{ a.place }}" class="switch-point"></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-12 ad-pic-box">
                <ul>
                    {% for a in ads %}
                        <li class="si{{ a.place }}">
                            <a href="{{ a.link }}" class="ad-pic">
                                <img class="img-rounded" style="width: 100%" src="/{{ a.img }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="row">
            {% for c in cols %}
                <div class="col-sm-3">
                    <a href="{{ c.link }}"><img class="img-rounded" style="width: 100%;" src="/{{ c.img }}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        var adsLength = {{ ads|length }};

        var i = 0;
        adNext();
        sw = setInterval("adNext()", 3000);

        function adNext() {
            if (i >= adsLength){
                i = 0;
            }
            i++;
            $("#si" + i).addClass('point-active').siblings().removeClass('point-active');
            $(".si" + i).fadeIn(800).siblings().fadeOut(800);
            console.log(i);
        }

        function adPerv() {
            if (i <= 1){
                i = adsLength + 1;
            }
            i--;
            $("#si" + i).addClass('point-active').siblings().removeClass('point-active');
            $(".si" + i).fadeIn(800).siblings().fadeOut(800);
        }

        $(".switch-btn").on({
            mouseenter: function () {
                $(this).css("background-color", "hsla(0,0%,0%,1)");
                $(this).css("color", "white");
            },
            mouseleave: function () {
                $(this).css("background-color", "hsla(0,0%,0%,0.3)");
            }
        });

        $('#ad-perv').click(adPerv);
        $('#ad-next').click(adNext);

        $('#ad-switcher').on({
            mouseenter:function () {
                $('#switch-btn-group').show();
                clearInterval(sw);
            },
            mouseleave:function () {
                $('#switch-btn-group').hide();
                sw = setInterval("adNext()", 3000);
            }
        });

        $('.switch-point').mouseenter(function () {
                $(this).addClass('point-active').siblings().removeClass('point-active');
                console.log(this.id);
                $("." + this.id).fadeIn(800).siblings().fadeOut(800);
                i = $(this).index() + 1;
        })
    </script>
{% endblock %}